.signup_container {
   width: 100%;
   min-height: 100vh;
   background-color: #f5f5f5;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4b8ebd;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #71a7c9, #9ac1d6);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #71a7c9, #9ac1d6);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signup_form_container {
   width: 900px;
   height: 500px;
   display: flex;
   border-radius: 10px;
   box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #3bb19b;
   background-color: #4b8ebd;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.left h2 {
   margin-top: 0;
   color: white;
   font-size: 24px;
   letter-spacing: 1px;
   align-self: center;
}

.right {
   flex: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;

   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.form_container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form_container h2 {
   font-size: 36px;
   margin-top: 0;
}

.input {
   outline: none;
   border: none;
   width: 370px;
   padding: 15px;
   border-radius: 5px;
   background-color: #edf5f3;
   background-color: #ccdce3;
   margin: 5px 0;
   font-size: 14px;
   letter-spacing: 1px;
}

.error_msg,
.success_msg {
   width: 370px;
   padding: 15px;
   margin: 5px 0;
   font-size: 14px;
   background-color: #f34646;
   color: white;
   border-radius: 5px;
   text-align: center;
   letter-spacing: 1px;
}

.success_msg {
   background-color: #5cdd5c;
   background-color: #55821a;
}

.white_btn,
.green_btn {
   border: none;
   outline: none;
   padding: 12px 0;
   background-color: white;
   border-radius: 5px;
   width: 180px;
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

.green_btn {
   background-color: #3bb19b;
   background-color: #4b8ebd;
   color: white;
   margin: 10px;
}